@import 'reset';
@import 'variables/global';

// Змінні для брейкпоінтів
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

/* Стилі для мобільних пристроїв */
.component {
    max-width: 375px;
    padding: 0 16px;
  }
  
  /* Стилі для планшетів */
  @media (min-width: $breakpoint-tablet) {
    .component {
      max-width: 768px;
      padding: 0 29px;
    }
  }
  
  /* Стилі для десктопів */
  @media (min-width: $breakpoint-desktop) {
    .component {
      max-width: 1440px;
      padding: 0 60px;
    }
  }
  