@import 'reset';
@import 'variables/global';

/* Стилі для мобільних пристроїв */
.component {
   max-width: 375px;
   padding: 0 16px;
}

/* Стилі для планшетів */
@media (min-width: 768px) {
   .component {
      max-width: 768px;
      padding: 0 29px;
   }
}

/* Стилі для десктопів */
@media (min-width: 1440px) {
   .component {
      max-width: 1440px;
      padding: 0 60px;
   }
}
