.navbar {
    background-color: var(--inverted-bg-color);
    color: #fff;
    padding: 10px;

    a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        margin-left: 1rem;
      }
  }